<!DOCTYPE html>
<html>
<head>
<title>App Server Arena</title>
</head>

<body>

<h1>Server Information</h1>

<p>
  Current app server is <strong><%= @current_server %></strong> under process <%= Process.pid %>
  under ruby <%= RUBY_VERSION %>, the &quot;<%= RUBY_ENGINE %>&quot; engine, and <%= RUBY_PLATFORM %> platform.
</p>

<h2>Request Information</h2>
<table>
  <% @request.env.each do |k,v| %>
  <tr>
    <td><%= k %>:</td>
    <td><%= v %></td>
  </tr>
  <% end %>
</table>

<h2>Response Information</h2>
<table>
  <tr>
    <td>Headers:</td>
    <td><%= @response.header %></td>
  </tr>

  <tr>
    <td>Status:</td>
    <td><%= @response.status %></td>
  </tr>
</table>

</body>
</html>